.weather-card,
.weather-error-card {
    background-color: var(--button-color);
    padding: 0.5em 1em;
    border-radius: 1em;
    width: fit-content;
}

.weather-card button,
.weather-error-card button {
    background-color: var(--bg-color);
}
