.weather-card,
.weather-error-card {
    background-color: rgb(128, 0, 128, 70%);
    padding: var(--pad);
    border-radius: var(--border-rad);
    width: fit-content;
}

.weather-card button {
    background-color: var(--bg-color);
    padding: 0.5em;
    opacity: 100%;
}

.weather-card button:hover {
    color: orangered;
}

.weather-error-card {
    color: var(--highlight-error);
}

.weather-card {
    min-width: 300px;
    min-height: 200px;
    display: grid;
    padding: var(--pad);

    row-gap: 0.5em;
    column-gap: 0.5em;

    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;

    position: relative;
}

.weather-card .top {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 1fr;
    align-items: center;
    white-space: nowrap;
}

.weather-card .top .temp {
    font-size: 2em;
    background-color: transparent;
}

.weather-card .top .close {
    background-color: transparent;
    padding: 0;
    font-size: 1.5em;
    display: grid;
    align-items: center;

    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

.weather-card .icon {
    font-size: 2em;
    display: grid;
    place-items: center;
    color: orangered;
}

.weather-card .location {
    display: grid;
    font-size: 1.2em;
    align-items: center;
}

.weather-card .location .name {
    font-size: 1.5em;
}

.weather-card .info-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.weather-card .info-row button {
    font-size: 1.2em;
}

.weather-card .info-row > * {
    display: flex;
    flex-direction: column-reverse;
}

.weather-card .info-row > * > .value {
    font-size: 1.5em;
    padding: 0;
    background-color: transparent;
}

.weather-card .info-row > * > .name {
    font-size: 0.9em;
}
