.weather-card,
.weather-error-card {
    background-color: var(--button-color);
    padding: 1em 1em;
    border-radius: 1em;
    width: fit-content;
}

.weather-card button {
    background-color: var(--bg-color);
    padding: 0.5em;
}

.weather-card button:hover {
    color: var(--highlight-color-1);
}

.weather-error-card {
    color: var(--highlight-error);
}

.weather-card {
    min-width: 300px;
    min-height: 200px;
    display: grid;

    row-gap: 0.5em;
    column-gap: 0.5em;

    grid-template-rows: 2fr 1fr 1fr 0.5fr;
    align-items: center;
}

.weather-card .top {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.weather-card .icon {
    font-size: 3em;
    display: grid;
    place-items: center;
}

.weather-card .location {
    display: grid;
}

.weather-card .info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weather-card .temperature,
.weather-card .wind-speed,
.weather-card .feels-like {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.weather-card .humidity {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

/*
    grid-template-columns: 1fr 1fr;
    align-items: center;
}



.weather-card .temperature,
.weather-card .wind-speed,
.weather-card .feels-like {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.weather-card .humidity {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.weather-card .bottom-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */
